$small: 500px;
$medium: 760px;
$large: 1040px;

$opensans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$bold: 900;
$normal: 400;

$eigengrau: #16161d;
$grey: #3a3943;
$teal: #33c1c9;
$pink: #dd554f;
$orange: #f2a334;
$white: #fff;
$light-grey: #f2f2f2;
